---
name: Self
on: [push, pull_request]

jobs:
  main:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.5.0
        with:
          node-version: '14'

      # ensure that a PR that doesn't update the dist actually uses the
      # updated code when running the self step
      - run: npm ci && npm run build && npm run package
        if: github.event_name == 'pull_request'

      - uses: ./
        id: self
      - run: magick test.png test.gif
