---
name: Lint
on: [push, pull_request]

jobs:
  lint:
    name: prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.8.0
        with:
          node-version: '16'
      - run: npm ci
      - run: npm run lint
